.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px) brightness(50%);
  }
  .title {
    margin: 2rem;
    font-size: 8rem;
    font-weight: semi-bold;
    color: rgb(50, 120, 110);
    text-shadow: 3px 3px 3px rgba(90, 220, 180, 0.1);
    font-family: "Raleway";
  }
  .text_container {
    margin-top: 1rem;
    width: 65rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    text-shadow: 4px 8px 10px rgba(90, 220, 180, 0.5);
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: lightgray;
    font-family: Raleway;
  }
  .content_container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: rgba(18, 18, 18, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(50, 120, 110, 0.4);
  }
  .content_container:hover {
    border: 2px solid rgba(50, 120, 110, 0.6);
    transition-duration: 0.2s;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .question_text {
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: normal;
    text-shadow: 2px 2px 10px rgba(50, 120, 110, 0.8);
    font-family: "Raleway";
    color: lightgray;
  }
  .input_num {
    height: auto;
    width: 16rem;
    color: lightgray;
    border: 2px solid rgba(105, 255, 240, 0.48);
    border-radius: 8px;
    padding: 0.6rem;
    background: rgba(35, 35, 35, 0.8);
    border-radius: 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-size: 1.5rem;
    font-weight: semi-bold;
    text-align: center;
    font-family: "Raleway";
  }
  .input_num:hover {
    box-shadow: 0 4px 30px rgba(70, 170, 160, 0.4);
  }
  
  .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .button {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(30, 90, 70, 1);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-size: 2rem;
    font-weight: semi-bold;
    font-family: "Raleway";
    color: lightgray;
  }
  .button:hover {
    color: white;
    box-shadow: 3px 4px 30px rgba(0, 0, 0, 1);
    transition-duration: 0.15s;
  }
  .error_message {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.5rem;
    font-weight: semi-bold;
    font-family: Raleway;
  }
