.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px) brightness(50%);
}
.title {
  margin: 2rem;
  font-size: 8rem;
  font-weight: semi-bold;
  color: rgb(50, 120, 110);
  text-shadow: 3px 3px 3px rgba(90, 220, 180, 0.1);
  font-family: "Raleway";
}
.intro_text_container {
  width: 65rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: 4px 8px 10px rgba(90, 220, 180, 0.4);
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-family: Raleway;
}
.text_container {
  text-align: center;
  width: 65rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(50, 140, 130, 1);
  font-family: Raleway;
}
.content_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 3rem;
  justify-content: center;
  margin: 2rem 0;
  margin: fit-content;
  background: rgba(18, 18, 18, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(50, 120, 110, 0.4);
}
.content_container:hover {
  border: 2px solid rgba(50, 120, 110, 0.6);
  transition-duration: 0.2s;
}

.introduction_text {
  display: flex;
  flex-direction: column;
}
.bingo_line {
  text-align: center;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(50, 140, 130, 1);
  font-family: "Raleway";
  text-align: center;
}
.highlighted_text {
  display: block;
  font-size: 4rem;
  font-weight: bolder;
  color: #ffcc00;
  margin-bottom: 1.8rem;
  font-family: "Raleway";
}
.text {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-family: "Raleway";
}
.chart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75rem;
  padding: 2rem;
  background: rgba(18, 18, 18, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(50, 120, 110, 0.4);
  margin-bottom: 2rem;
}
.chart_container:hover {
  border: 2px solid rgba(50, 120, 110, 0.6);
  transition-duration: 0.2s;
}
.text_charts {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.outer_text_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 2rem;
  background: rgba(18, 18, 18, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.scroll_container {
  overflow-y: auto;
  max-height: 40rem;
}
.tip_category {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  text-shadow: 2px 2px 10px rgba(50, 120, 110, 0.8);
  font-family: "Raleway";
  color: rgba(80, 200, 190, 1);
  width: 60%;
}
.tip_content {
  width: 65rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  font-family: Raleway;
}
.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.button {
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 8px;
  width: 12rem;
  background: rgba(30, 90, 70, 1);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-size: 2rem;
  font-weight: semi-bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-family: "Raleway";
  color: lightgray;
}
.button:hover {
  color: white;
  box-shadow: 3px 4px 30px rgba(0, 0, 0, 1);
  transition-duration: 0.15s;
}
